# Core functionality - changes here should be rare!
/src/app.py                   @Alexewf25
/src/backend/database.py      @Alexewf25
/src/backend/routers/auth.py  @Alexewf25

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Alexewf25
